// Components
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  font-family: "Poppins", sans-serif !important;
}

img {
  width: 100%;
  height: auto;
}

/* Global */
.td-none {
  text-decoration: none;
}

/* Entry Meta */
.updated:not(.published) {
  display: none;
}

/* Navbar */
.nav-item:hover .dropdown-menu:not(.show) {
  display: block;
}

/* Pagination */
.page-numbers.current > span {
  background-color: #0dcaf0;
  color: white;
}